//
//  Release.xcconfig
//  CycleOne
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

PRODUCT_NAME = CycleOne
PRODUCT_BUNDLE_IDENTIFIER = drei.CycleOne
IPHONEOS_DEPLOYMENT_TARGET = 17.0
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
