// Release.xcconfig
//
//  Created by Antigravity on 3/23/26.
//

// Simple placeholder for Release settings
PRODUCT_NAME = CycleOne
PRODUCT_BUNDLE_IDENTIFIER = com.drei.CycleOne
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
DEBUG_INFORMATION_FORMAT = dwarf-with-dsym
ENABLE_NS_ASSERTIONS = NO
SWIFT_OPTIMIZATION_LEVEL = -O
VALIDATE_PRODUCT = YES
